<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=title%> </title>
    <!-- links-------------------------- -->
    <link rel="stylesheet" href="\public\admin_styles.css">
    <script src="https://kit.fontawesome.com/b7a2ac83f3.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main">
        <aside>
            <div class="logo">
                <a href="/">
                    <img src="https://www.dolphincoveja.com/Content/src/dc-logo.png" alt="dolphin_cove_logo">
                </a>
            </div>
                <br><br>
            <!-- info imported from database -->
            <div class="admin_info">
                <img src="https://i.pinimg.com/originals/d0/53/f2/d053f2394d420d8d3712046f4e8f80cc.jpg" alt="admin_pic">
                    
                <div class="admin_name">
                    <h3>
                        Admin
                    </h3>
                </div>
            </div>
                <br><br>
            <p class="tables">
                <i class="fa-solid fa-table-cells"></i>
                Tables
            </p>
                <!-- <br> -->
            <p class="table">
                <a href="admin/reservations">
                    Reservations
                </a>
            </p>
            <p class="table">
                <a href="admin/tour_companies">
                    Tour Companies
                </a>
            </p>
            <p class="table">
                <a href="admin/programs">
                    Dolphin Cove Programs
                </a>
            </p>
            
            <a href="admin/admin_logout">Log out</a>
        </aside>

        <div class="content">
            <h1>
                Welcome to the staff dashboard. Information can be found here relating to reservations made, the touring companies we partner with, and the many programs we offer here at Dolphin Cove.
            </h1>
        </div>
    </div>
</body>
</html>