<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- links-------------------------- -->
    <link rel="stylesheet" href="\public\admin_styles.css">
    <script src="https://kit.fontawesome.com/b7a2ac83f3.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="main">
        <aside>
            <div class="logo">
                <a href="/">
                    <img src="https://www.dolphincoveja.com/Content/src/dc-logo.png" alt="dolphin_cove_logo">
                </a>
            </div>
            <br><br>
            <!-- info imported from database -->
            <div class="admin_info">
                <img src="https://i.pinimg.com/originals/d0/53/f2/d053f2394d420d8d3712046f4e8f80cc.jpg" alt="admin_pic">

                <div class="admin_name">
                    <h3>
                        Admin
                    </h3>
                </div>
            </div>
            <br><br>
            <p class="tables">
                <i class="fa-solid fa-table-cells"></i>
                Tables
            </p>
            <!-- <br> -->
            <p class="table">
                <a href="reservations">
                    Reservations
                </a>
            </p>
            <p class="table">
                <a href="tour_companies">
                    Tour Companies
                </a>
            </p>
            <p class="table">
                <a href="programs">
                    Programs
                </a>
            </p>

            <a href="admin/admin_logout">Log out</a>
        </aside>

        <div class="content">
            <div class="content_head">
                <!-- <h2>Tour Companies Table</h2> -->
                <a href="tour_companies">
                    <i class="fa-solid fa-angle-left"></i>
                    Tour Companies
                </a>
            </div>
            <br>
            <div class="add_form">
                <form action="/admin/add_tc" method="post">
                    <h2>
                        Create a Tour Company
                    </h2>
                        <br>
                    <div>
                        <input type="text" name="comp_pic" value="" placeholder="Paste Company Picture URL">
                    </div>
                        <br>
                    <div>
                        <input type="text" name="comp_name" value="" placeholder="Company Name">
                    </div>
                        <br>
                    <div>
                        <input type="text" name="description" value="" placeholder="Description">
                    </div>
                        <br>
                    <div>
                        <input type="email" name="email" value="" placeholder="Email">
                    </div>
                        <br>
                    <div>
                        <input type="password" name="password" value="" placeholder="Password" maxlength="8">
                    </div>
                        <br>
                    <div class="add_btn">
                        <input type="submit" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>